.headermenu {
	margin: inherit; /* respect the foundation row margins */
}

.headermain {
    font-size: 2.75em; /* respect foundation */
}

.breadcrumb .singlebutton form { /* remove margin from button in breadcrumb */
	margin: 0;
}

/* Mimick top-bar links with spans for $PAGE->layout_options['nologinlinks'] */
.top-bar-section ul li > span {
    background: none repeat scroll 0 0 #111111;
    line-height: 45px;
    color: #555555; /* top-menu dropdown label color */
    display: block;
    font-size: 0.8125em;
    font-weight: bold;
    padding: 0 15px;
    width: 100%;
}

/* Fix unavailable for spans in navbar */
.breadcrumbs li.unavailable span {
  color: #999999;
}

/* fix breadcrumbs separator in rtl */
.dir-rtl .breadcrumbs li:before {
  content: "";
}

.dir-rtl .breadcrumbs li:after {
  color: #AAAAAA;
  content: "/";
  position: relative;
  top: 1px;
}

.dir-rtl .breadcrumbs li:first-child:after {
    content: "";
}

.dir-rtl .breadcrumbs li a,
.dir-rtl .breadcrumbs li span {
  padding-right: 0.75em;
  padding-left: 0
}